// @Layout Rules: define the layout styles for all the major components of the project.
// @example:
//   "header"
//   "footer"
//   "sidebar"
//   etc.
:root {
  --b: #121212;
  --c: #f40
}
body {
  margin: 0;
  font-size: 2em;
  background: var(--b);
  color:whitesmoke;
  font-family: 'Trispace', sans-serif;
  font-weight: 200;
  font-variation-settings: 'wdth' 85, 'wght' 200;
}
ol {
  position: relative;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 1rem;
  padding-bottom: 1em;
}
li {
  counter-increment: list -1; 
  line-height: 1;
  margin-bottom: .5em;
}
li a.playing::before {
  content: counter(list) ". ";
  color: currentColor;
  font-variation-settings: 'wdth' 85, 'wght' 200;
}
h1 {
  margin: 0;
  font-weight: inherit;
  font-size: 1em;
}
.playing { 
  font-variation-settings: 'wdth' 125, 'wght' 800;
  color: var(--c);
  word-spacing: -.15em;
}
.button:hover,
a:hover {
  color: var(--c);
}
li nav {
  display: flex; 
  justify-content: space-between;
}

.button, .yt {
  // position: absolute;
  // right: 1.5rem;
  // top:1.5rem;
  position: relative;
  z-index: 2;
  margin: 1rem 0 1rem ;
  border-radius: 1em;
  background: var(--b);
  border: 1px solid;
  color: inherit;
  padding: .15em .5em;
  font-size: .5em;
  z-index: 100;
  font-variation-settings: 'wdth' 85, 'wght' 200;
}
.home { margin-left: 1em;}

.text {
  font-variation-settings: 'wdth' 105, 'wght' 200;
  letter-spacing: -.05em;
  line-height: 1.2;
  color: whitesmoke;
  // font-size: calc(1rem + 2vw);
  display: none;
  p { margin: 0; text-indent: 4em;}
}
.playing .text {
  display: revert;
}
.images{
  position: fixed;
  word-spacing: 0;
  z-index: -1;
  left: 0; top:0; right:0; bottom:0;
  figure {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 75vw;
    height: 75vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  figcaption {
    position: absolute;
    bottom: -2em;
    font-size: .5em;
    width: 100%;
    font-variation-settings: 'wdth' 85, 'wght' 400;
    color:#666;
    text-align: center;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  display: none;
}
.playing .images{
  display: block;
}

.yt {display: none;}
.playing .yt{
  display: inline;
  font-size: .45em;
  font-variation-settings: 'wdth' 125, 'wght' 800;
  color: whitesmoke;
  position: relative;
  top:-.35em;
  &:hover { color: var(--c);}
}


@media(max-width:600px){
  body{
    font-size: 1.25em;
  }
}

