// @Layout Rules: define the layout styles for all the major components of the project.
// @example:
//   "header"
//   "footer"
//   "sidebar"
//   etc.
:root {
  --b: #121212;
  --c: #f40
}
body {
  margin: 0;
  font-size: 2em;
  background: var(--b);
  color:whitesmoke;
  font-family: 'Trispace', sans-serif;
  font-weight: 200;
  font-variation-settings: 'wdth' 85, 'wght' 200;
}

.button:hover,
a:hover {
  color: var(--c);
}

ol {
  position: relative;
  z-index: 1;
  list-style: none;
  padding: 0;
}
ol ol {
  margin-top: .5em;
}
#conversation{
  margin: 1rem;
  padding-bottom: 100vh;
}
li {
  counter-increment: list -1; 
  line-height: 1;
  pointer-events: none;
  position: relative;
  padding-left: 1.25em;
  nav {
    pointer-events: all;
    display: inline;
  }
  &::before{    
    font-size: 1em; 
    margin-left: -1.25em;
    position: absolute; 
    top:-.15em;

  }
}
.depth-2 { padding-left: 2em; }
.depth-3 { padding-left: 4em; }
.depth-4 { padding-left: 6em; }
.depth-5 { padding-left: 8em; }
.depth-6 { padding-left: 10em; }

.jm { &::before {content:"⊚ ";  }}
.j  { &::before {content:"⊖ ";  }}
.v  { &::before {content:"⊘ ";  }}

li.open { 
  font-variation-settings: 'wdth' 125, 'wght' 800;
  color: var(--c);
  word-spacing: -.15em;
  cursor: pointer;
}
li.open nav {
  display: flex; 
  width: 100%;
  justify-content: space-between;
}
.textlink,
.audiolink,.imagelink {
  display: inline-block;
  padding-bottom: .5em;
}
.imagelink {
  cursor: pointer;
  pointer-events: all;
  &:hover { color:var(--c) }
}
.button, .yt {
  // position: absolute;
  // right: 1.5rem;
  // top:1.5rem;
  position: relative;
  z-index: 2;
  margin: 1rem 0 1rem ;
  border-radius: 1em;
  background: var(--b);
  border: 1px solid;
  color: inherit;
  padding: .15em .5em;
  font-size: .5em;
  z-index: 100;
  font-variation-settings: 'wdth' 85, 'wght' 200;
}
.home { margin-left: 1em;}

.text {
  font-variation-settings: 'wdth' 105, 'wght' 200;
  letter-spacing: -.05em;
  line-height: 1.2;
  color: whitesmoke;
  // font-size: calc(1rem + 2vw);
  display: none;
  p { margin: 0; &+p{text-indent: 4em;}}
}
.open .text {
  
  display: block;
  padding-bottom: .5em;
  p{ max-width: 35em;}
}
.no_sound .text {
  line-height: 1;
  display: block;
  letter-spacing: -.05em;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-variation-settings: 'wdth' 85, 'wght' 200;
  p:first-child{
    display: inline;
  }
  cursor: pointer;
  pointer-events: all;
  &:hover { color:var(--c) }
}
.open {
  
  &::before{
    top:-.1rem
  }
  .text{
    cursor: auto;
    color: whitesmoke;
    overflow: auto;
    text-overflow: unset;
    white-space: normal;
    height: auto;
    line-height: 1.2;
    margin-top: -.2rem;
    font-variation-settings: 'wdth' 85, 'wght' 200;
    &:hover{ color:whitesmoke}
    p:first-child{
      display: block;
    }
  }
  &:not(.has_sound) .text{
    ::first-line {
      color: var(--c);
      font-variation-settings: 'wdth' 125, 'wght' 800;
    }
  }
}
.images{
  position: fixed;
  word-spacing: 0;
  z-index: -1;
  left: 0; top:0; right:0; bottom:0;
  pointer-events: all;
  &.view {
    z-index: 200;
  }
  figure {
    text-indent: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 75vw;
    height: 75vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &::before {
      content: "+";
      position: absolute;
      font-variation-settings: 'wdth' 85, 'wght' 400;
      top: 0;
      right: 0;
      display: none;
    }
    &:hover::before{ display: block;}
  }
  figcaption {
    position: absolute;
    bottom: -2em;
    font-size: .5em;
    width: 100%;
    font-variation-settings: 'wdth' 85, 'wght' 400;
    color:#666;
    text-align: center;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    transition: all 250ms;
  }
  display: none;
}
.images.view figure::before {
  content:"–";
  display: block;
}
.open .images{
  display: block;
}

.yt {display: none;}
.open .yt{
  display: inline;
  font-size: .45em;
  font-variation-settings: 'wdth' 125, 'wght' 800;
  color: whitesmoke;
  position: relative;
  top:-.35em;
  &:hover { color: var(--c);}
}


@media(max-width:600px){
  body{
    font-size: 1.25em;
  }
}

